<ion-app>
  <ion-split-pane class="parte_1" contentId="main-content" *ngIf="showLayout">
    <ion-content contentId="left-content" class="first" color="light">
      <app-sidebar-accordeon></app-sidebar-accordeon> <!--Sidebar-->
    </ion-content>
    <ion-content contentId="right-content" class="third">
      <ion-grid class="top-grid"> <!--Grid for the tabs + button-->
        <ion-row class="whole-row">
          <!-- Actual tabs -->
          <ion-col class="col">
            <div class="botones-container" *ngFor="let tab of tabDataList; let i = index">
              <!-- Unopened tabs are not highlighted -->
              <ion-button class="my-button ion-text-left" size="small" color="light" *ngIf="i != opened_tab" (click)="tabClicked($event, i)">
                <ion-label id="tabID_{{i}}" [ngStyle]="{'padding-left': '0px', 'float':'left'}">{{tab.tabName}}</ion-label>
              </ion-button>
              <!-- Opened tab is highlighted -->
              <ion-item class="my-button-selected" size="small" color="white" *ngIf="i == opened_tab" (dblclick)="currentTabClicked($event, i)">
                <ion-label id="tabID_{{i}}" *ngIf="!renaming_routine">{{tab.tabName}}</ion-label> <!-- At the beginning is only a label -->
                <!-- Change to text field when selected -->
                <ion-label id="tabID_{{i}}" *ngIf="renaming_routine">
                  <input type="text" #renameInput class="rename_routine" value="{{tab.tabName}}" (blur)="handleBlur($event, i, renameInput.value)"> <!-- blur is to save when out of focus -->
                </ion-label>
                <ion-icon (click)="eliminarBoton(i)" class="my-icon-close" slot="end" name="close-circle-outline"></ion-icon>
              </ion-item>
            </div>
          </ion-col>
          <ion-col class="ion-text-right" size="auto">
            <ion-button (click)="Switch_View()">Switch To<br>YAML View</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- AQUI se incluye el router-outlet para el contenido principal -->
      <router-outlet></router-outlet>
      <!-- app-block-component y pre se pueden remover si la navegación se maneja completamente por rutas -->
    </ion-content>
  </ion-split-pane>

  <!-- Buttons are on top of the actual view -->
  <!-- <ion-button size="large" color="medium" class="clear" (click)="onNewPressed()">NEW</ion-button> -->
</ion-app>
